type illumination, domain;
type illumination_exec, exec_type, file_type;

init_daemon_domain(illumination)

allow illumination sysfs:file { write };
allow illumination sysfs_wake_lock:file { open write };
allow illumination self:capability { dac_override };
allow illumination uhid_device:chr_file { open write ioctl };
