type macaddrsetup, domain;
type macaddrsetup_exec, exec_type, file_type;

init_daemon_domain(macaddrsetup)
unix_socket_connect(macaddrsetup, tad, tad)

#============= macaddrsetup ==============
allow macaddrsetup bluetooth_data_file:dir search;
allow macaddrsetup bluetooth_data_file:file { write getattr open setattr };
allow macaddrsetup self:capability { chown dac_override fowner fsetid };
allow macaddrsetup sysfs_wlanserial:file { write getattr open };
allow macaddrsetup sysfs_wlanmac:file { write getattr open };
