#============= mediaserver ==============
allow mediaserver audio_device:chr_file { ioctl open read write };
allow mediaserver camera_socket:dir search;
allow mediaserver camera_socket:file { getattr open read write };
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver cameraserver_service:service_manager add;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver sysfs:file write;
allow mediaserver system_data_file:sock_file write;
allow mediaserver system_file:file execmod;
allow mediaserver system_server:unix_stream_socket { read write };
