# Access camera device
set_prop(mediaserver, camera_prop)
allow mediaserver camera_data_file:file rw_file_perms;
allow mediaserver camera_device:dir { search };
allow mediaserver camera_socket:dir { add_name search write };
allow mediaserver camera_socket:file { create getattr open read write };

# Camera data
r_dir_file(mediaserver, camera_data_file)
r_dir_file(mediaserver, media_rw_data_file)
allow mediaserver mnt_user_file:lnk_file { read };
allow mediaserver mnt_user_file:dir { search };
allow mediaserver shell_data_file:dir search;
allow mediaserver storage_file:lnk_file { read };
allow mediaserver storage_file:dir { search };

# /dev/input
allow mediaserver input_device:dir { search };

# Connect to system_server service.
allow mediaserver system_server:unix_stream_socket { read setopt write };

# Allow sensors service.
allow mediaserver sensorservice_service:service_manager { find };

# Mediaserver property and socket.
set_prop(mediaserver, ctl_default_prop)
allow mediaserver self:socket create_socket_perms;

# Camera libraries.
allow mediaserver system_file:file { execmod };
