#============= mediacodec ==============
allow mediacodec audio_device:chr_file { read write ioctl open };
allow mediacodec camera_prop:file { read getattr open };
