#============= qti_init_shell ==============
allow qti_init_shell bluetooth_data_file:dir search;
allow qti_init_shell bluetooth_data_file:file { read open };
allow qti_init_shell devpts:chr_file { read write getattr open ioctl };
allow qti_init_shell sysfs:file read;
allow qti_init_shell tad:unix_stream_socket connectto;
allow qti_init_shell tad_socket:sock_file write;
allow qti_init_shell toolbox_exec:file { read getattr open execute execute_no_trans };
