# RenderThread
allow system_app shell_data_file:dir { search };

# init system_app
allow system_app system_app_data_file:file { execute execute_no_trans };
