#============= system_server ==============
allow system_server kernel:process setsched;
allow system_server qemu_hw_mainkeys_prop:file { getattr open read };
