type ta_qmi_service, domain;
type ta_qmi_service_exec, exec_type, file_type;

init_daemon_domain(ta_qmi_service)

allow ta_qmi_service smem_log_device:chr_file { read write open ioctl };
allow ta_qmi_service sysfs_wake_lock:file { append open };
allow ta_qmi_service self:socket create_socket_perms;
allow ta_qmi_service self:capability { dac_override };

# Connect to /dev/socket/tad
unix_socket_connect(ta_qmi_service, tad, tad)

allow ta_qmi_service socket_device:sock_file { write };
allow ta_qmi_service init:unix_stream_socket connectto;
