type tad, domain;
type tad_exec, exec_type, file_type;

init_daemon_domain(tad)

#============= tad ==============
allow tad block_device:dir search;
allow tad proc:file { read open };
allow tad rootfs:file { entrypoint read };
allow tad trim_area_partition_device:blk_file { read write ioctl open };
