type thermanager, domain;
type thermanager_exec, exec_type, file_type;

init_daemon_domain(thermanager)

#============= thermanager ==============
allow thermanager self:capability dac_override;
allow thermanager sysfs:file { read write open };
allow thermanager sysfs_devices_system_cpu:file write;
allow thermanager sysfs_thermal:file write;
