on boot
    # LM3560/cameralight
    chown system camera /sys/devices/i2c-10/10-0053/torch_enable
    chmod 660 /sys/devices/i2c-10/10-0053/torch_enable
    chown system camera /sys/devices/i2c-10/10-0053/torch_current
    chmod 660 /sys/devices/i2c-10/10-0053/torch_current
    chown system system /sys/devices/i2c-10/10-0053/privacy_enable
    chown system system /sys/devices/i2c-10/10-0053/privacy_current
    chown system camera /sys/devices/i2c-10/10-0053/flash_enable
    chown system camera /sys/devices/i2c-10/10-0053/flash_duration
    chown system camera /sys/devices/i2c-10/10-0053/flash_synchronization
    chmod 660 /sys/devices/i2c-10/10-0053/flash_synchronization
    chown system camera /sys/devices/i2c-10/10-0053/flash_current
    chmod 660 /sys/devices/i2c-10/10-0053/flash_current
    chown system camera /sys/devices/i2c-10/10-0053/status

    # Owner for the proximity sensor
    chown system system /sys/devices/i2c-12/12-0054/threshold
    chown system system /sys/devices/i2c-12/12-0054/nburst

    # AS3677/Ambient Light Sensor
    chown system system /sys/devices/i2c-10/10-0040/als_on

    # Panel backlight
    chown system system /sys/class/leds/lcd-backlight1/brightness
    chmod 660 /sys/class/leds/lcd-backlight1/brightness
    chown system system /sys/class/leds/lcd-backlight2/brightness
    chmod 660 /sys/class/leds/lcd-backlight2/brightness

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/level

    # Permissions for LSM330D sensor
    chown system system /sys/devices/i2c-12/12-0019/pollrate_ms
    chmod 0664 /sys/devices/i2c-12/12-0019/pollrate_ms
    chown system system /sys/devices/i2c-12/12-0019/power/autosuspend_delay_ms
    chmod 0664 /sys/devices/i2c-12/12-0019/power/autosuspend_delay_ms
    chown system system /sys/devices/i2c-12/12-006b/pollrate_ms
    chmod 0664 /sys/devices/i2c-12/12-006b/pollrate_ms
    chown system system /sys/devices/i2c-12/12-006b/range
    chmod 0664 /sys/devices/i2c-12/12-006b/range

    # Permission for touch glove mode
    chown system system /sys/devices/i2c-3/3-0024/main_ttsp_core.cyttsp4_i2c_adapter/signal_disparity
    chmod 0664 /sys/devices/i2c-3/3-0024/main_ttsp_core.cyttsp4_i2c_adapter/signal_disparity
    chown system system /sys/devices/i2c-3/3-0024/main_ttsp_core.cyttsp4_i2c_adapter/finger_threshold
    chmod 0664 /sys/devices/i2c-3/3-0024/main_ttsp_core.cyttsp4_i2c_adapter/finger_threshold
    write /sys/devices/i2c-3/3-0024/main_ttsp_core.cyttsp4_i2c_adapter/finger_threshold 280

